// fonts
$font-family-base: "Open Sans", Helvetica, sans-serif;
$font-family-condensed: 'Open Sans Condensed', $font-family-base;
$font-family-decorative: "Indie Flower", $font-family-base;


// colors

$color-orange: #FF9900;
$color-black: #000;
$color-white: #fff;
$color-gray: #e5e4e2;
$color-gray-text: #959492;




// overriding bootstrap
$grid-columns: 15;
$thumbnail-border: transparent;
$thumbnail-padding: 0;
